#main_title{
	margin-left: 20px;
}

#error_mess {
	color: red;
	margin-bottom: 15px;
	margin-top: 15px;
	//visibility: hidden;
	//display: none;
}

#succes_mess {
	color: green;
	margin-bottom: 15px;
	margin-top: 15px;
}

.div_blocks {
	display: inline-block;
	vertical-align:top;
}

.label_align {
	vertical-align:top;
}

.cat_list {
	padding: 2px;
	margin-bottom: 5px;
	border: 1px solid;
	width: 250px;
}

.dish_list {
	padding: 2px;
	margin-bottom: 5px;
	border: 1px solid;
	//width: 400px;
}

.h4_text {
	margin-top: 0px;
	margin-bottom: 0px;
}

.composition {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 350px;
}

.composition_text {
	padding-left: 5px;
	word-wrap: break-word;
}

.img_align {
	//float: left;
}

.img_align_dish {
	float: left;
}

